html, body {
    overflow-x: hidden;
  }
  
  .full-width-borders {
    /* also subtract section padding (1.5rem) */
    margin: 0 -601.5rem;
    /* add back section padding (1.5rem) */
    padding: 0.25rem 1.5rem;
    background: red;
    /* border has to be solid, not RGBa */
    /* 9600px or equiv (600rem = 9600/16) */
    border-left: 600rem solid maroon;
    border-right: 600rem solid maroon;
  }