:root {
    --colorLight: #f1f1f1;
    --colorLightBack: #f1f1f1E8;
    --colorMed: #21209c;
    --colorDark: #23120b;
}

body{
    margin: 0;
    padding: 0;
}
#otherHTML{
	background-color: var(--colorDark);
}
#mountain{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-width: 100%;
	z-index: -1;
	margin: auto;
	overflow: auto;
}
#homeBar{
    position: fixed;
    background-color: var(--colorDark);
    height: 80px;
    width: 100%;
    clear: both;
}
#homeButtonSpot{
    position: fixed;
	left: 10px;
	top: 10px;
    background-color: var(--colorMed);
}
#homeButton, #backButton{
	background-color:rgba(100,100,100,0);
	border-color: var(--colorMed);
	color: var(--colorLight);
	height:30px;
	
	width:60px;
	font-size:1.0vw;

}
#linkedinTXT{
	position: fixed;
	color: #FFFF7d;
	bottom: 0px;
	right: 0px;
}
#linkedinTXTlink{
	color: yellow;
}

#projectLink{
	font-size: 24pt;
	font-weight: bold;
	margin-left: 2%;
}

#mainBody{
	margin: auto;
}

#projectlistings{
	background-color: var(--colorLightBack);

	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#projectlistings p {
	font-size: 20px;
	font-family: "Helvetica";
	color: var(--colorDark);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#middlebox{
	text-align: center;
	padding-top: 10%;
}
#middlebox>p{
	font-size: 60px;
	font-family: "Helvetica";
	color: #FFFF7d;
}

/* Collapsible button formatting */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--colorMed);
  color: var(--colorLight);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
  color: var(--colorDark);
}

.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}